html, body {
  height: 100%;
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
}
#root {
  position: relative;
  min-height: 100%;
  background-color: black;
}
#top_left {
  position: absolute;
  height: 100%;
  width: 50%;
}
#top_left_div{
  position: absolute;
  height: 95%;
  width: 100%;
}
#buttons_div {
  text-align: center;
  color: #FFF;
}
#top_right {
  position: absolute;
  left: 50%;
  height: 30%;
  width: 50%;
  background-color: #F9BA2D;
}
#top_right h1 {
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
#bottom_right {
  position: absolute;
  top: 30%;
  left: 50%;
  height: 70%;
  width: 50%;
  background-color: #FFFFFF;
}
#bottom_right div{
  padding: 50px;
}
#bottom_right p,h3{
  text-align: center;
  margin: 0px;
}
#bottom_right ul>li,h4{
  text-align: left;
}
/* Board properties */
.board {
  background-color: #F79B57;
  display: table;
  height: 80%;
  width: 70%;
  margin: 30px auto;
}
.cell {
  border: 1px solid #ECF0F1;
  background-color: #FEFEFE;
  display: table-cell;
}
.row {
  display: table-row;
}
.alive {
  background-color: #000;
}
/**/
.button {
  width: 60px;
  color: #FFF;
  margin: 5px;
  height: 25px;
  width: 80px;
  border-radius: 3px;
  text-transform: uppercase;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.play {
  border: 1px solid #127557;
  background-color: #127557;
}
.stop {
  border: 1px solid #F9BA2D;
  background-color: #F9BA2D;
}
.step {
  border: 1px solid #272B4C;
  background-color: #272B4C;
}
.clear {
  border: 1px solid #FFF;
  background-color: #FFF;
  color: #000;
}