body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#root {
    padding: 40px;
    margin: 0 auto;
}
.board {
    background-color: #B7FFF2;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: table;
}
.cell {
    width: 10px;
    height: 10px;
    border: 1px solid #AFAFAF;
    background-color: #FFFFFF;
    display: table-cell;
}
.row {
    display: table-row;
}
.alive {
  background-color: #64DDBB;
}
